{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% block content %}
<style>
    div.article{
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        margin: 50px 10px;
    }
    img.articleImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    p.text{
        margin-top: 20px
    }
    div.profile{
        
    }
</style>
<script>
    function openArticle(id){
        location.href = "/article/"+id+"/";
    }
</script>

<div class="row">
    <div class="col">        
        <div class="article">
            <h1>{{article.title}}</h1>
            <p>{{article.date}}</p>
            {% with 'pics/'|add:article.image as imagePath %}
            <img class="articleImg" src="{% static imagePath %}">
            {% endwith %}
            <p class="text">{{article.text}}</p>
        </div>
        <div class="row">
            {% load static from staticfiles %}
            {% for article in articles %}
                <div class="news-container col" onclick="openArticle({{article.id}})">
                    {% with 'pics/'|add:article.image as imagePath %}
                    <img class="news-img" src="{% static imagePath %}">
                    {% endwith %}
                    <h3 class="news-title">{{article.title}}</h3>
                    <p>{{article.date}}</p>
                    <p>{{article.text|truncatechars:250}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-3">
            <div class="fb-page" data-href="https://www.facebook.com/pnspeterborughuk/" data-tabs="timeline" data-width="" data-height="1500px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/pnspeterborughuk/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/pnspeterborughuk/">पिटरबरो नेपाली समाज युके Peterborough Nepalese Society</a></blockquote></div>

    </div>
{% endblock %}

