{% extends 'home/base.html' %}
{% block description %} {{heading}} {% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="page-info wow fadeInUp" data-wow-delay="250ms">
        <div class="content-container">
        <h1>{{ title }}</h1>
        <p class="lead">{{ heading }}</p>
        </div>
    </div>
    <div class="row">
    {% for article in articles %}
        <!--<p class="article-date">{{article.date}}</p>-->
        <div class="article-tile col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="50ms" onclick="openLink('/{{article.Type}}/{{article.id}}')">       
                <img class="page-element-img" src="{{article.picture.url}} ">        
                <h3 class="">{{ article.title }} </h3>
                <p class="">{{ article.date }}</p>
                <p class="font-weight-light">{{ article.text | truncatechars:100 }}</p>  
                {% if article.text|length > 100 %}
                    <a><p>Click to read more</p></a>
                {% endif %}
        
        </div>
    {% endfor %}
    </div>
    <nav class="mt-5" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if articles.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ articles.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% for page_number in articles.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
            {% endfor %}

            {% if articles.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ articles.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}