{% extends 'home/base.html' %}
{% load static from staticfiles %}
    {% block content %}
    <!-- ##### Post Details Area Start ##### -->
        <nav aria-label="breadcrumb" >
            <ol class="breadcrumb" style="background-color: whitesmoke">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/{{ type }}">{{ type|title }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ article.title }}</li>
            </ol>
        </nav>
            <div class="post-details-content">
                <div class="single-blog-post style2 mb-50">
                    <div class="blog-thumb mb-30 article-img-backdrop wow fadeInUp" data-wow-delay="350ms" onclick="openLink('{{article.picture.url}}')">
                        <img class="article-img" src="{{article.picture.url}}">
                    </div>
                    <div class="blog-content wow fadeInUp" data-wow-delay="50ms">
                        <a href="#" class="post-tag">News</a>
                        <h4>{{article.title}}</h4>
                        <div class="post-meta mb-30">
                            <a href="#"><img src="img/core-img/author2.png" alt=""> By Admin</a>
                            <a href="#"><img src="img/core-img/calendar2.png" alt=""> {{ article.date }}</a>

                        </div>
                        <p>{{ article.text }}</p>
    

                    </div>
                </div>
            </div>  
            <div class="article-latest">
                <h5>Read the lastest</h5>
                <div class="row">
                    {% load static from staticfiles %}
                    {% for article in latestItems|slice:":3"  %}
                        <div class="page-element col-lg-4 col-mg-6" onclick="openLink('/{{article.Type}}/{{article.id}}')">
                            <img class="page-element-img" src="{{article.picture.url}}">
                            <h4 class="news-title">{{article.title}}</h4>
                            <p>{{article.text|truncatechars:100}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>          

    </section>
    {% endblock %}
