{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<style>
    div.article-container
    {
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
    div.article{
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        margin: 30px 10px;
    }
    img.articleImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 100%;
    }
    p.text{
        margin-top: 20px
    }
    div.article-latest{
        margin-bottom: 30px;
        padding: 10px;
    }
    div.article-latest:hover{
        cursor: pointer;
        background-color: whitesmoke;

    }
    img.article-latest-img{
        width: 100%
    }
    h5.article-latest-title{
        margin-top: 100px;
    }

    img.article-img
    {        
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 500px;
    }
    div.article-img-backdrop
    {
        background-color: whitesmoke;
    }

    .article-text
    {
        margin-top: 20px;
    }

</style>
<script>
    function openArticle(id){
        location.href = "/article/"+id+"/";
    }
</script>     
    <div class="article">
        <h1>{{article.title}}</h1>
        <p class="font-italic">{{article.date}}</p>
        <div class="article-img-backdrop" onclick="openLink('{{article.picture.url}}')">
            <img class="article-img" src="{{article.picture.url}}">
        </div>
        <p class="article-text">{{article.text}}</p>
    </div>

    <h5 class="article-latest-title">Read the lastest</h5>
    <div class="row">
        {% load static from staticfiles %}
        {% for article in latestItems|slice:":3"  %}
            <div class="page-element col" onclick="openLink('/{{article.Type}}/{{article.id}}')">
                <img class="page-element-img" src="{{article.picture.url}}">
                <h4 class="news-title">{{article.title}}</h4>
                <p>{{article.text|truncatechars:100}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

