{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Meta-->
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block description %} {% endblock %}">
        <meta name="keywords" content="PNS PNSUK Peterborough Nepalese Society {% block keywords %} {% endblock %}">
        <meta name="author" content="Ashmit Khadka">

        <!--Title-->
        <title>
            PNS | {% block title %} {% endblock %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!--Scripts-->
        
        <script src="{% static 'scripts/scripts.js' %}"></script>


        <!-- Favicon -->
        <link rel="icon" href="{% static 'template/favicon.ico' %}">

        <!-- Stylesheet -->
        <link rel="stylesheet" href="{% static 'template/style.css' %}">
        <link rel="stylesheet" href="{% static 'styles/stylesheet.css' %}">

            <!-- ##### All Javascript Script ##### -->
        <!-- jQuery-2.2.4 js -->
 

    </head>

    <body>
        <script src="{% static 'template/js/jquery/jquery-2.2.4.min.js' %}"></script>
        <!-- Popper js -->
        <script src="{% static 'template/js/bootstrap/popper.min.js' %}"></script>
        <!-- Bootstrap js -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{% static 'template/js/plugins/plugins.js' %}"></script>
        <!-- Active js -->
        <script src="{% static 'template/js/active.js' %}"></script>
        <!-- Header -->

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Please donate via this bank account and email us at <a href="mailto:pnsuk.org@hotmail.com">pnsuk.org@hotmail.com</a></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <p>Account Name: PNS</p>
                        <p>Bank: TSB</p>
                        <p>Sort code: 30-96-60</p>
                        <p>Account Number: 00152108</p>
                        <p>Thank you for your donation, every little helps.</p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        
        {% include 'home/header.html' %}
        {% include 'home/nav.html' %}

        <!--Page wrapper-->
        <div class="row page-container">

            <!--Main contect area-->
            <div class="col-lg-10 mt-30">
                {% block content %}
                {% endblock %}
            </div>

            <!--Advert area-->
            <div class="col-lg-2 mt-30">
                    <div class="donate mb-30" data-toggle="modal" data-target="#exampleModal">
                        <img class="action-img" src="{% static 'pics/donate.svg' %}">
                        <h5 class="text-center font-italic">Donate to our charity</h5>
                    </div>

                    {%if adverts%}
                    {% for ad in adverts %}        
                    <div class="news-side row" onclick="openAdvert('{{ad.url}}')">
                        <img class="news-img col-lg col-6" src="{{ad.img}}">
                        <div class="col">
                            <h5 class="news-title">{{ad.name}}</h5>
                            <p class="">{{ad.description}}</p>    
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %} 

                </div>
        </div>

        <!--Footer-->
        {% include 'home/footer.html' %}
    </body>
</html>

