{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% block title %} {{ event.title }} {% endblock %}
{% block content %}
<style>
    div.article-container
    {
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
    div.article{
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        margin: 30px 10px;
    }
    img.articleImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    p.text{
        margin-top: 20px
    }
    div.article-latest{
        margin-bottom: 30px;
        padding: 10px;
    }
    div.article-latest:hover{
        cursor: pointer;
        background-color: whitesmoke;

    }
    img.article-latest-img{
        width: 100%
    }
    p.article-latest-title{
        margin-top: 50px;
    }
</style>
<script>
    function openArticle(id){
        location.href = "/project/"+id+"/";
    }
</script>       
    <div class="article">
        <h1>{{event.title}}</h1>
        <p>{{event.date}}</p>
        <img class="news-img" src="{{event.picture.url}} ">
        <p class="text">{{event.text}}</p>
    </div>

{% endblock %}

