{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% block description %} {{heading}} {% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="page-info">
    <div class="content-container">
        <h1>{{ title }}</h1>
        <p class="lead">{{ heading }}</p>
    </div>
</div>
{% if events %}
<p class="text-right font-italic">Showing articles {{events | length}} of {{events | length}}</p>
{% for event in events %}
    <div class="row page-element">
        <div class="col-3 event-date">
            <div class="event-ribbon">
            </div>
            <p>{{event.date|date:"F"}} {{event.date|date:"jS"}}</p>
            <p>{{event.date|date:"l"}}</p>
            <p>{{event.date|date:"fA"}}</p>
        </div>
        <div class="col-9">
            <h3>{{event.name}}</h3>
            <img class="event-info-icon" src="{% static 'pics/placeholder.svg' %}" alt="">
            <p>{{event.venue}}</p>
            <!--<img class="event-info-icon" src="{% static 'pics/calendar.svg' %}" alt="">
            <p>{{event.date}}</p>-->
            <img class="event-info-icon" src="{% static 'pics/contact.svg' %}" alt="">
            <p>{{event.contact}}</p>
            <p class="font-weight-light">{{event.other}}</p>
            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapse{{event.id}}" aria-expanded="false" aria-controls="collapseExample">
                    View agenda
            </button>
        </div>        
        <div class="col collapse" id="collapse{{event.id}}">
            <br>           
            <div class="card card-body">

            </div>
        </div>
    </div>
{% endfor %}
{% endif %}
{% endblock %}


