{% extends 'home/base.html' %}
{% load static from staticfiles %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="content-container">
    <h1 class="display-4">Events</h1>
    <p class="lead">This page is under construction. It will be live soon.</p>
    </div>
</div>
{% for event in events %}
    <div class="row event-container">
        <div class="col-3">
            <img class="event-img" src="{% static 'pics/calendar.svg' %}" alt="">
        </div>
        <div class="col">
            <h3>{{event.name}}</h3>
            <p>{{event.venue}}</p>
            <p>{{event.date}}</p>
            <p>{{event.contact}}</p>
            <p>{{event.venue}}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}