<style>
    div.article-item{
        margin: 10px 50px;
        padding: 10px;
    }
    div.article-item:hover{
        cursor: pointer;
        background-color: whitesmoke;
    }
    p.article-date{
        margin: 20px 20px 5px;
    }
</style>
<script>
    function openArticle(id){
        location.href = "/article/"+id+"/";
    }
</script>
{% extends 'home/base.html' %}
{% load static from staticfiles %}


{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="content-container">
        <h1 class="display-4">Leave a message</h1>
        <p class="lead">Your feedback is valued greatly and helps PNS better support you.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <form>
                <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Your name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="inputName">Subject</label>
                    <input type="text" class="form-control" id="inputName" placeholder="The subject">
                </div>
                <div class="form-group">
                    <label for="inputName">Your Message</label>
                    <textarea class="form-control" rows="5" placeholder="Write your thoughts here"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
        <div class="col">
                <br><b>Email</b>
                
                <br><a href="mailto:peterborough-nepalisociety@hotmail.co.uk">peterborough-nepalisociety@hotmail.co.uk</a>
                
                
                <br><br><b>Phone</b>
                <br>Shiva Bhandari : 07462916936
                <br>Kiran Karki : 07737085669

                <br>Harihar Bhattarai : 07470163339
                
                
                
                <br><br><b>Address</b>
                <br>46 Winwick Place
                
                <br>West wood
                
                <br>Peterborough
                
                <br>PE3 7 HS
                
                
        </div>
    </div>

{% endblock %}