<style>

</style>

{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% block title %} Feedback {% endblock %}


{% block content %}
    <div class="pager-info">
        <div class="content-container">
        <h1>Leave a message</h1>
        <p class="lead">Your feedback is valued greatly and helps PNS better support you.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <form>
                <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Your name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="inputName">Subject</label>
                    <input type="text" class="form-control" id="inputName" placeholder="The subject">
                </div>
                <div class="form-group">
                    <label for="inputName">Your Message</label>
                    <textarea class="form-control" rows="5" placeholder="Write your thoughts here"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
        <div class="col">
                <br><b>Email</b>
                <br><a href="mailto:pnsuk.org@hotmail.co.uk">pnsuk.org@hotmail.co.uk</a>  (NEW)
                <br><a href="mailto:peterborough-nepalisociety@hotmail.co.uk">peterborough-nepalisociety@hotmail.co.uk</a>

                
                <br><br><b>Phone</b>
                <br>Shiva Bhandari : 07462916936                
                <br>Harihar Bhattarai : 07470163339
                <br><a href="/members/trustees">Click here to see our trustees</a>         
                
                
                <br><br><b>Address</b>
                <br>46 Winwick Place
                
                <br>West wood
                
                <br>Peterborough
                
                <br>PE3 7 HS
                
                
        </div>
    </div>

{% endblock %}