
<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div style="background-color: whitesmoke;">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" data-toggle="modal" data-target="#exampleModal">Donate</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/news">News</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/events">Events</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/advertise">Advertise</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/feedback">Contact</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>

    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-5">
          <p style="line-height: 1.7rem">PNS is committed in helping its members to integrate better with the core British values, while preserving their own culture, faith and religion, and bringing in richness of Nepalese culture to Britain. It also aims to conduct small-scale charity work in Nepal, in particular, helping under-privileged and socially deprived children.
           
             </p>
        </div>
        <!-- Grid column -->
  
    </div>
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-5">
          <h5 style="line-height: 1.7rem">
            Useful Links          
          </h5>
        </div>
        <!-- Grid column -->

    </div>
    <div class="row text-center d-flex justify-content-center pt-3 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-5">
          <button type="button" class="btn btn-light" onclick="window.open('https://www.gov.uk/government/organisations/uk-visas-and-immigration')">Home Office UK Visas & Immigration</button>
          <button type="button" class="btn btn-light" onclick="window.open('https://www.gov.uk/government/organisations/charity-commission')">Carity Commision UK</button>
          <button type="button" class="btn btn-light" onclick="window.open('https://www.cambs.police.uk/report/report')">Cambridgeshire Constabulary</button>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
          <button type="button" class="btn btn-light" onclick="window.open('http://www.nepalisamajuk.com/component/weblinks/76-nsuk-useful-links/42-uk-visa-application-centre-ktm.html')">UK Visa Application Centre KTM</button>
          <button type="button" class="btn btn-light" onclick="window.open('http://www.nepalisamajuk.com/component/weblinks/76-nsuk-useful-links/47-work-permit.html')">Work Permit</button>
          <button type="button" class="btn btn-light" onclick="window.open('https://www.citizensadvice.org.uk/')">Citizens Advice</button>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
          <button type="button" class="btn btn-light" onclick="window.open('http://www.nepalisamajuk.com/component/weblinks/76-nsuk-useful-links/17-foreign-travel-office-nepal.html')">Foreign Travel Advice - Nepal</button>
          <button type="button" class="btn btn-light" onclick="window.open('https://www.peterborough.gov.uk/')">Peterborough City Council</button>
          <button type="button" class="btn btn-light" onclick="window.open('http://www.nepalimmigration.gov.np/')">Department of Immigration</button>

        </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
          <button type="button" class="btn btn-light" onclick="window.open('http://www.nepalisamajuk.com/component/weblinks/76-nsuk-useful-links/19-hm-revenue-a-customs.html')">HM Revenue & Customs</button>
          <button type="button" class="btn btn-light" onclick="window.open('https://www.nwangliaft.nhs.uk/our-hospitals/peterborough-city-hospital/')">Peterborough City Hospital</button>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
          <button type="button" class="btn btn-light" onclick="window.open('http://www.nepalisamajuk.com/component/weblinks/76-nsuk-useful-links/21-identity-a-passport-service.html')">HM Passport Office</button>
          <button type="button" class="btn btn-light" onclick="window.open('https://uk.nepalembassy.gov.np/')">Embassy of Nepal, London</button>
      </div>
      <!-- Grid column -->

    </div>    
    <!-- Grid row-->
    
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->

</footer>
<!-- Footer -->
