<style>
    div.article-item{
        margin: 10px 0px;
        padding: 20px;
    }
    div.article-item:hover{
        cursor: pointer;
        background-color: whitesmoke;
    }
    p.article-date{
        margin: 20px 20px 5px;
    }

</style>

{% extends 'home/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="pager-info">
        <div class="content-container">
        <h1>Honourable Person, Guests and Celebrities</h1>
        <p class="lead">Our memoeries of special guests.</p>
        </div>
    </div>
    {% if guests %}
    {% for guest in guests %}
        <div class="row article-item" onclick="openGuest({{guest.id}})">
            <div class="col-4">
                <img class="news-img" src="{{guest.picture.url}} ">
            </div>
            <div class="col">
                <h3 class="">{{guest.title}} </h3>
                <p class="">{{guest.date}}</p>
                <p class="font-weight-light">{{guest.text | truncatechars:200}}</p> 
                <a><p>Click to read more</p></a>
 
            </div>
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}