<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
{% load static from staticfiles %}
<div class="page-banner" style="background-color: whitesmoke">
    <div class="page-header-content " >
        <div class="row header-banner page-container">
            <div class="col-2">
                <img class="header-flag-left" src="{% static 'pics/flag-nepal.svg' %}" alt=""> 
            </div>
            <div class="col">
                <a href="https://www.facebook.com/pnspeterborughuk/"><img class="header-logo" src="{% static 'pics/logo-facebook.svg' %}" alt=""></a>
                <img class="header-logo" data-toggle="modal" data-target="#exampleModal" src="{% static 'pics/donate.svg' %}" alt="">           
                <h1 class="header-title"><b>Peterborough Nepalese Society (PNS)</b></h1>
                <h4 class="header-print">Registered Charity 1169904 पिटरबरो नेपाली समाज, युके (२००७)</h4>
            </div>
            <div class="col-2">
                <img class="header-flag-right" src="{% static 'pics/flag-uk.svg' %}" alt="">
            </div>
        </div>
       {% include 'home/nav.html' %}   
     
    </div>
</div>
