<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
{% load static from staticfiles %}
<div class="" style="background-color: #f0f0f0">
    <div class="container " >
        <div class="row header-banner">
            <div class="col-2">
                <img class="header-flag-left" src="{% static 'pics/flag-nepal.svg' %}" alt=""> 
            </div>
            <div class="col">
                <div class="header-text">
                    <h3 class="header-title"><b>Peterborough Nepalese Society (PNS)</b></h3>
                    <h6 class="header-text-footer"> पिटरबरो नेपाली समाज </h6>
                    <h6 class="header-text-footer">Regd Charity 1169904, Estd. 2007</h6>
                </div>
            </div>
            <div class="col-2">
                <img class="header-flag-right" src="{% static 'pics/flag-uk.svg' %}" alt="">
            </div>
        </div>
    </div>
</div>


