{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Video Mag - HTML Template for Video &amp; Magazine</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'template/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'template/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/stylesheet.css' %}">

</head>

<body>
    <!-- Preloader -->


    <!-- ##### Header Area Start ##### -->
    {% include 'home/header.html' %}

    <!-- ##### Header Area End ##### -->
    <div class="row page-container">
    <!-- ##### Hero Area Start ##### -->
        <div class="col-lg-10">
            <div class="mt-30">

                <div class="">
                    <!-- Single Welcome Post -->
                    <div class="bd-example">
                        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for item in front_items%}
                                <li data-target="#carouselExampleCaptions" 
                                        {% if item == front_items.0 %}
                                            class="active" 
                                        {% endif %} 
                                ></li>
                                {% endfor %}
                            </ol>
                        <div class="carousel-inner img-slider-container">
                            {% for item in front_items%}
                            <div class="carousel-item
                                    {% if item == front_items.0 %}
                                        active
                                    {% endif %}" onclick="openLink('/{{item.Type}}/{{item.id}}')">
                                <img src="{{item.picture.url}}" class="d-block w-100 carouselImg" alt="...">
                                <div class="carousel-caption d-none d-md-block img-slider-text">
                                    <h5>{{item.title}}</h5>
                                    <p>{{item.text | truncatechars:200}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                            </a>
                        </div>            
                    </div>            
                </div>
            </div>
            <!-- ##### Hero Area End ##### -->

            <!-- ##### Tabs Area Start ##### -->

            <!-- ##### Tabs Area End ##### -->
           
            <!-- ##### Travel Videos Area Start ##### -->
            <section class="travel-videos-area">
                <div class="container">
                    <div class="travel-videos-content">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-heading wow fadeInUp" data-wow-delay="50ms">
                                    <h2>The Lastest</h2>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-12">
                                <div class="row">
                                    {% for article in event_past|slice:"1:5" %}

                                    <!-- Single Blog Post -->
                                    <div class="col-md-3">
                                        <div class="single-blog-post style3 wow fadeInUp" data-wow-delay="50ms">
                                            <div class="blog-thumb ">
                                                <img src="{{article.picture.url}}" alt="">
                                            </div>
                                            <div class="blog-content">
                                                <a href="#" class="post-title">{{article.title}}</a>
                                                <a href="#" class="post-tag">{{article.text | truncatechars:100}}</a>

                                                <div class="post-meta d-flex justify-content-between">
                                                    <a href="#"><img src="img/core-img/calendar2.png" alt=""> July 23, 2018</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ##### Travel Videos Area End ##### -->
            <div class="home-info-container row">
                <div class="col-3">
                    <img class='img-info' src="{% static "pics\kk.png" %}" alt="">
                </div>
                <div class="col">
                    <p class="">"The Peterborough Nepalese Society (PNS) is a non-profit making community based organisation established in 2007 with the initiation of all individuals or families originally coming from Nepal and those who are living in and around Peterborough areas." - Kiran Karki, Trustee Chair</p>
                    <p>Read More</p>
                </div>
                
            </div>
            <!-- ##### Small Videos Area Start ##### -->
            <section class="small-videos-area">
                <div class="container">
                    <div class="small-videos-content">
                        <div class="row">

                            <!-- Fashion News -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="section-heading wow fadeInUp" data-wow-delay="50ms">
                                    <h2>Projects</h2>
                                </div>

                                <!-- Single Blog Post -->
                                <div class="single-blog-post style2 mb-50 wow fadeInUp" data-wow-delay="50ms">
                                    <div class="blog-thumb mb-5">
                                        <img src="{{projects.0.picture.url}}" alt="">
                                        <!-- Play Button -->
                                    </div>
                                    <div class="blog-content">
                                        <a href="#" class="post-tag">Featured</a>
                                        <a href="#" class="post-title">{{projects.0.title}}</a>
                                        <div class="post-meta">
                                            <a href="#"><img src="img/core-img/calendar2.png" alt=""> July 23, 2018</a>
                                        </div>
                                    </div>
                                </div>

                                {% for project in projects|slice:"1:5" %}
                                <!-- Single Blog Post -->
                                <div class="single-blog-post style4 d-flex mb-30 wow fadeInUp" data-wow-delay="50ms">
                                    <div class="blog-thumb">
                                        <img src="{{project.picture.url}}" alt="">
                                        <!-- Play Button -->
                                    </div>
                                    <div class="blog-content">
                                        <a href="#" class="post-title">{{project.title}}</a>
                                        <a href="#" class="post-tag">{{project.date}}</a>
                                        <a href="#" class="post-title">Read more</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <!-- Technology News -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="section-heading wow fadeInUp" data-wow-delay="50ms">
                                    <h2>Guests</h2>
                                </div>

                                <!-- Single Blog Post -->
                                <div class="single-blog-post style2 mb-50 wow fadeInUp" data-wow-delay="50ms">
                                    <div class="blog-thumb mb-5">
                                        <img src="{{guests.0.picture.url}}" alt="">
                                        <!-- Play Button -->
                                    </div>
                                    <div class="blog-content">
                                        <a href="#" class="post-tag">Featured</a>
                                        <a href="#" class="post-title">{{guests.0.title}}</a>
                                        <div class="post-meta">
                                            <a href="#"><img src="img/core-img/author2.png" alt=""> By James Smith</a>
                                            <a href="#"><img src="img/core-img/calendar2.png" alt=""> July 23, 2018</a>
                                            <a href="#"><img src="img/core-img/chat2.png" alt=""> 5</a>
                                            <a href="#"><img src="img/core-img/like2.png" alt=""> 12k</a>
                                        </div>
                                    </div>
                                </div>

                                {% for guest in guests|slice:"1:5" %}
                                <!-- Single Blog Post -->
                                <div class="single-blog-post style4 d-flex mb-30 wow fadeInUp" data-wow-delay="50ms">
                                    <div class="blog-thumb">
                                        <img src="{{guest.picture.url}}" alt="">
                                        <!-- Play Button -->
                                    </div>
                                    <div class="blog-content">
                                        <a href="#" class="post-tag">Featured</a>
                                        <a href="#" class="post-title">{{guest.title}}</a>
                                        <a href="#" class="post-tag">{{guest.text | truncatechars:50}}</a>

                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <!-- July Top News -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="section-heading wow fadeInUp" data-wow-delay="50ms">
                                    <h2>Events</h2>
                                </div>

                                {% for event in events %}
                                <div class="news-side" onclick="openLink('/events')">
                                    <button type="button" class="btn btn-warning">#Event</button>
                                    <h5>{{event.name}}</h5>
                                    <img class="item-text-icon" src="{% static 'pics/calendar.svg' %}">
                                    <p class="">{{event.date}} {{event.date|date:"l"}}.</p>
                                    <img class="item-text-icon" src="{% static 'pics/location.svg' %}">
                                    <p class="">{{event.venue}}</p> 
                                </div>
                            {% endfor %} 
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ##### Small Videos Area End ##### -->

            <!-- ##### Big Add Area Start ##### -->
            <div class="big-add-area mb-100 wow fadeInUp" data-wow-delay="200ms">
                <div class="container-fluid">
                    <a href="#"><img src="img/bg-img/big-add.png" alt=""></a>
                </div>
            </div>
            <!-- ##### Big Add Area End ##### -->
        </div>
        <div class="col-lg-2 mt-30">
                <div class="donate" data-toggle="modal" data-target="#exampleModal">
                    <img class="action-img" src="{% static 'pics/donate.svg' %}">
                    <h5 class="text-center font-italic">Donate to our charity</h5>
                </div>
                <div class="news-side" onclick="openAdvert('/advertise')" style="text-align: center"> 
                    <h5 class="news-title">Advertise here</h5>
                    <p>Click to learn more</p>
                </div>
                {%if adverts%}
                {% for ad in adverts %}        
                <div class="news-side" onclick="openAdvert('{{ad.url}}')">
                    <img class="news-img" src="{{ad.img}}">
                    <h5 class="news-title">{{ad.name}}</h5>
                    <p class="">{{ad.description}}</p>
                </div>
                {% endfor %}
                {% endif %} 

            </div>
    </div>
    <!-- ##### Footer Area Start ##### -->
    {% include 'home/footer.html' %}
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'template/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'template/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'template/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'template/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'template/js/active.js' %}"></script>
</body>

</html>


<style>

    img.event{
        width: 100%;


    }
    img.item-img
    {
        margin-bottom: 20px; 
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    img.item-text-icon
    {
        float: left;
        height: 1rem; 
        margin-right: 10px;
        top: 50px;        
    }


    div.donate
    {
        margin: 0px 0px 30px;
        padding: 20px;
        cursor: pointer;
        background-color: rgb(252, 252, 252);
        box-shadow: 0 4px 8px 0 rgba(212, 212, 212, 0.2), 0 15px 15px 0 rgba(138, 138, 138, 0.19);
    }
    div.img-slider-text
    {
        background-color: rgba(30, 30, 30, 0.6);

    }

    div.img-slider-container
    {
        cursor: pointer;
    }
    img.img-info
    {
        border-radius: 50%;
    }
</style>
