{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="row">
    <div class="col-2">
        <div class="page-element" data-toggle="modal" data-target="#exampleModal">
            <img class="action-img" src="{% static 'pics/donate.svg' %}">
            <h5 class="text-center font-italic">Donate to our charity</h5>
        </div>
        {% if articles %}
        {% for article in front_items %}
        <div class="news-side" onclick="openArticle({{article.id}})">            
            <img class="news-img" src="{{article.picture.url}}">
            <h5 class="">{{article.title}}</h5>
            <p class="font-weight-light">{{article.text | truncatechars:50}}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="col">
        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for item in front_items%}
                    <li data-target="#carouselExampleCaptions" 
                            {% if item == front_items.0 %}
                                class="active" 
                            {% endif %} 
                    ></li>
                    {% endfor %}
                </ol>
            <div class="carousel-inner">
                {% for item in front_items%}
                <div class="carousel-item 
                        {% if item == front_items.0 %}
                            active
                        {% endif %}">
                    <img src="{{item.picture.url}}" class="d-block w-100 carouselImg" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{item.title}}</h5>
                        <p>{{item.text | truncatechars:200}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>            
        </div>
        <div class="info">
            <div class="const">
                <h1 class="display-4">PNS at a glance</h1>
                <p class="lead">The Peterborough Nepalese Society (PNS) is a non-profit making community based organisation established in 2007 with the initiation of all individuals or families originally coming from Nepal and those who are living in and around Peterborough areas. PNS is now a charity organisation registered in the Charity Commission of England and Wales (Charity number 1169904) and is running successfully based on the rules and regulations as outlined in its own governing document- Peterborough Nepalese Society Constitution 2016. 
                        PNS, based in Peterborough, (Cambridgeshire) always focuses its efforts on social cohesion and integration with British culture and values and develops a sustainable peace and harmony in and among the communities.
                        </p>
            </div>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Goals and objectives
                    </button>
                </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <h6>The main goals of PNS are:</h6> 
                        <ul>
                            <li>To further or benefit the residents of Peterborough, and in particular but not exclusively residents of Nepalese descent, advancing education and providing facilities in the interests of social welfare for recreation and leisure time occupation with the objective of improving the conditions of life for the residents.</li>
                            <li>The relief of those in need in Nepal, by reason of youth, age, ill-health, disability, financial hardship or other disadvantage by making grants of financial assistance.</li>
                        </ul>
                    </div>
                </div>
            </div>    
            <div class="card">
                <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Objectives
                    </button>
                </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <h6>The objectives of PNS are:</h6>
                        <ul>
                            <li>To work closely with the Peterborough city council and other organisations and communities groups towards promoting peace, harmony and social welfare amongst people of different communities and faiths.</li>
                            <li>To help PNS members familiarise with the core British values, and identify how its members can benefit from the public services.</li>
                            <li>To organise culturally-tailored events like yoga, meditation, entertainment programmes, Nepali and English language classes, children focused programmes, educational and cultural tour and other healthy life-style events such as football and athletics.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Organisational set up of PNS
                    </button>
                </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                            <h6>PNS setup:</h6>
                            In order to achieve its stated goals and objectives and to make functionally more active, PNS has two organisational tiers. The policies and major projects are being formulated and approved by a Board of Trustees comprising of 6 trustees. The approved policies and programmes are being implemented by a Management Committee which comprised of 17 executive members. The members of both trustees and   Management Committee are elected on the annual general meeting (AGM) every two years. In addition, the board of trustees and management committee are supported by 10 advisers in order to run different activities of PNS.
                            PNS has its own bank account to run its financial transactions and whatever we receive donations and supports that are deposited to our bank account. The current account system is transparent and incomes and expenditures are shown to members every month via social media (emails, viber and whatsapp) by our manager/ treasurer. We also update the charity’s annual returns to the Charity Commission every year.
                            Since the establishment of PNS in September 2007, number of its members has been ever increasing and now more than 100 families and nearly 300 …. people from Peterborough, Spalding, Leicester, Huntingdon are affiliated with this charity organisation.
                            Every year, PNS organises 4-6 charity fund raising nights (events) with great fun and entertainments. Every occasion, huge numbers of members are taking part in the programmes with great enthusiastic and fun. Moreover, they are very generous in supporting the activities and providing the donation to the charity. This is main reason the charity is running successfully and is able to collect donation for the good cause. The charity annual turnover is about £3000 and is increasing every year.  At the moment, we are running a project (budget £9000) of language teaching programmes for young children funded by National lottery.
                            PNS supported the victims of natural calamities (earth quake) in Nepal in 2016 and helped financially to those who are economically very poor (5 sick people) last year. It has a pleasant history of supporting other organisations in the past. 
                            We have also organised community cleaning campaign on the occasion of World Environment Day (June 5) in the past with the kind support of the Council’s Environment Department.
                            We invited councillors and MPs in most of our programmes and we are sure they are aware of our activities and gave us words to help us out on our endeavours. 
                            Currently PNS has to spend a huge amount of its resources for hiring halls and premises for organising its annual programmes. We have realised that if we are able to have own premises, we will save our hardly earned resources which we can  utilise it in more productive welfare sectors.
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Nepal at a Glance
                        </button>
                    </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            <h6>Welcome to Nepal:</h6>

                            Nepal is a landlocked country situated in the lap of Himalayas in between India and China with total area of 1,47,181 square km. It has got an amazing diversity of landscapes and cultural heritage. Eight of the world’s highest mountains are in Nepal including Mount Everest, the highest peak on the earth. UNESCO has listed four world heritage sites in Nepal. Two National parks, culturally rich Kathmandu Valley and Lumbini, the birthplace of Lord Buddha, are all listed as UNESCO cultural world heritage sites. Nepal is the habitat of Gurkhas and Sherpas who are known world-wide for their bravery and amazing mountaineering skills, respectively.
                            Nepalese people have a long-standing tradition of celebrating the great Hindu festivals like Dashain, Deewali, Teej etc. Those festivals mean a lot to these people, and even more, especially when they are away from Nepal.
                            The people of Nepal and UK share a deep mutual relationship of over 200 years. Nepal established its diplomatic relations with the UK in 1816 AD. Nepal takes a strong pride to the fact that the Gurkhas have been serving in the British Army for over 200 years.
                                                        
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <h3 class="home-event-header">Upcomming events</h3>
        <div class="row">            
            {% for event in events %}
            <div class="col home-event-container" onclick="openLink('/events')">  
                <div class="event-ribbon">
                </div>
                <h4>{{event.name}}</h4>
                <img class="event-info-icon" src="{% static 'pics/placeholder.svg' %}" alt="">
                <p>{{event.venue}}</p>
                <img class="event-info-icon" src="{% static 'pics/calendar.svg' %}" alt="">
                <p>{{event.date}}</p>         
            </div>
            {% endfor %}
        </div>
        <h3 class="home-event-header">Latest news</h3>
        <div class="row">            
            {% for article in articles %}
            <div class="col home-event-container" onclick="openArticle({{article.id}})">
                <div class="article-ribbon">                
                </div>
                <h4>{{article.title}}</h4>
                <p>{{article.date}}</p>               
            </div>
            {% endfor %}
        </div>
        
        <h3 class="home-event-header">Our projects</h3>
        <div class="row">            
            {% for project in projects %}
            <div class="col home-event-container" onclick="openProject({{project.id}})">
                <div class="project-ribbon">                
                </div>
                <h4>{{project.title}}</h4>
                <p>{{project.date}}</p>               
            </div>
            {% endfor %}
        </div>

    </div>
</div>


{% endblock %}