{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% block title %} News {% endblock %}
{% block content %}
    <div class="page-info">
        <div class="content-container">
        <h1>News</h1>
        <p class="lead">Have a look at the latest news and topics of interest in community.</p>
        </div>
    </div>
    {% if articles %}
    <p class="text-right font-italic">Showing articles {{articles | length}} of {{articles | length}}</p>
    {% for article in articles %}
        <!--<p class="article-date">{{article.date}}</p>-->
        <div class="row page-element" onclick="openLink('/{{article.Type}}/{{article.id}}')">
            <div class="col-4">
                <img class="page-element-img" src="{{article.picture.url}} ">
            </div>
            <div class="col">
                <h3 class="">{{article.title}} </h3>
                <p class="">{{article.date}}</p>
                <p class="font-weight-light">{{article.text | truncatechars:150}}</p>  
                {% if article.text|length > 150 %}
                    <a><p>Click to read more</p></a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}