<style>
    div.article-item{
        margin: 10px 0px;
        padding: 20px;
    }
    div.article-item:hover{
        cursor: pointer;
        background-color: whitesmoke;
    }
    p.article-date{
        margin: 20px 20px 5px;
    }

</style>
<script>
    function openArticle(id){
        location.href = "/article/"+id+"/";
    }
</script>
{% extends 'home/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="pager-info">
        <div class="content-container">
        <h1>News</h1>
        <p class="lead">Read the latest community news.</p>
        </div>
    </div>
    {% if articles %}
    {% for article in articles %}
        <!--<p class="article-date">{{article.date}}</p>-->
        <div class="row article-item" onclick="openArticle({{article.id}})">
            <div class="col-4">
                <img class="news-img" src="{{article.picture.url}} ">
            </div>
            <div class="col">
                <h3 class="">{{article.title}} </h3>
                <p class="">{{article.date}}</p>
                <p class="font-weight-light">{{article.text | truncatechars:200}}</p>  
                <p>Click to read more</p>      
            </div>
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}