<style>
    div.member-item{
        background-color: whitesmoke;
        margin: 10px 20px;
        padding: 10px;
        width: 200px;
        height: 200px;
        text-align: center;
    }
    img.member-item-img{
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px; 

    }
</style>

{% extends 'home/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="content-container">
            <h1 class="display-4">Meet our advisory board</h1>
            <p class="lead">At PNS we aim to enrich the daily lives of all nepali living in peterborough and beyond.</p>

        </div>        
    </div>
    <div class="container">
        <br><p>Mr Govinda Belbase </p>
        <p>Mr Nripesh Uprety </p>
        <p>Mr Pawan Sharma </p>
        <p>Mr B K Pandey</p>
        <p>Mr Dal Bdr Budathoki </p>
        <p>Dr Bhattarai </p>
        <p>Mr Baburam Dhital </p>
        <p>Mr Kapil Khadka </p>
        <p>Mr Keshav Khatiwada </p>
        <p>Mrs Jamuna Waldron </p>
        <p>Mr Bishnu Thapa </p>
    </div>



{% endblock %}