<style>
    div.member-item{
        background-color: whitesmoke;
        margin: 10px 20px;
        padding: 10px;
        width: 220px;
        height: 350px;
        text-align: center;
    }
    img.member-item-img{
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px; 

    }
</style>

{% extends 'home/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="pager-info">
        <div class="content-container">
        <h1>Meet our trustees</h1>
        <p class="lead">The trustee team at PNS are committed to drive the community forward into new heights.</p>
        </div>
    </div>
    <div class="row">
    {% for trust in trustee %}
        <div class="member-item">
            <img class="member-item-img" src="{{trust.img}}">
            <h5>{{trust.name}}</h5>
            <p>{{trust.role}}</p>
            <p>{{trust.email}}</p>
            <p>{{trust.phone}}</p>
        </div>
    {% endfor %}
    
    </div>
{% endblock %}